.div{
    width: fit-content;
    padding: 1em;
    border-radius: 50%;
 
    &:active{
        animation: click linear 1s;
    }

    .color{
        border-top: 5px solid rgb(213, 213, 213);
        background-color: white;
        padding: .5em 1em;
        border-radius: 50%;
    }
}

.active{
    animation: click 0.1s;
}

@keyframes click {
    0% {
        border-bottom: 7px;
    }
    
    50% {
        border-bottom: 0;
        margin-top: 10px;
    }

    100%{
        border-bottom: 7px;
    }
}