.div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 100vw;

    .title{
        margin-bottom: 2em;
        color: #3B4363;
        font-weight: 700;
        font-size: 2em;
    }
}